/* screen stylesheet */

@media screen {
    html, body {
        font-family: 'Indie Flower', cursive;
        font-weight: bold;
        font-size: 1.1em;
        margin: 0;
        padding: 0;
        background: #ecf0f1;
        color: #222;
    }
    #container {
        position: relative;
    }
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        padding: 0;
    }
    header {
        background-color: #f1c40f;
        text-align: center;
        padding-top: 1em;
        margin: 0;
    }
    h1 {
        color: #9b59b6;
        margin-bottom: 1em;
    }
    header img {
        max-width: 200px;
    }
    header nav {
        clear: both;
        border-bottom: .2em solid #9b59b6;
        margin: 0;
    }
    nav ul {
        padding: 0;
        list-style: none;
    }
    header nav li {
        display: inline-block;
        list-style: none;
    }
    header nav a, header nav a:visited {
        color: #9b59b6;
        text-decoration: none;
        padding: 1em;
        transition: background 1s, color 1s;
    }
    header nav a:hover, .active {
        background-color: #9b59b6;
        color: #ecf0f1 !important;
    }
    article, section, aside {
        padding: 5em;
    }
    section {
        text-align: center;
        background-color: #9b59b6;
    }
    section h2, section p {
        display: inline-block;
        padding: .5em;
        background-color: rgba(155, 89, 182, .8);
        color: #ecf0f1;
        animation: bounce 2s;
    }
    #home {
        background: url(../img/home.jpg) center center no-repeat;
        background-size: cover;
    }
    #about {
        background: url(../img/about.jpg) center center no-repeat;
        background-size: cover;
    }
    #menu {
        background: url(../img/menu.jpg) top center no-repeat;
        background-size: cover;
    }
    #popcake1 {
        background: url(../img/popcake1.jpg) center center no-repeat;
        background-size: cover;
    }
    #popcake2 {
        background: url(../img/popcake2.jpg) center center no-repeat;
        background-size: cover;
    }
    #popcake3 {
        background: url(../img/popcake3.jpg) center center no-repeat;
        background-size: cover;
    }
    #cupcake1 {
        background: url(../img/cupcake1.jpg) center center no-repeat;
        background-size: cover;
    }
    #cupcake2 {
        background: url(../img/cupcake2.jpg) center center no-repeat;
        background-size: cover;
    }
    #cupcake3 {
        background: url(../img/cupcake3.jpg) center center no-repeat;
        background-size: cover;
    }
    #cake1 {
        background: url(../img/cake1.jpg) center center no-repeat;
        background-size: cover;
    }
    #cake2 {
        background: url(../img/cake2.jpg) center center no-repeat;
        background-size: cover;
    }
    #cake3 {
        background: url(../img/cake3.jpg) center center no-repeat;
        background-size: cover;
    }
    #recipes {
        background: url(../img/recipes.jpg) center center no-repeat;
        background-size: cover;
    }
    #contact {
        background: url(../img/contact.jpg) center center no-repeat;
        background-size: cover;
    }
    article {
        margin: 0;
    }
    article h2 {
        text-decoration: underline;
    }
    article img, video {
        width: 100%;
    }
    article a, aside a {
        margin: auto;
        text-align: center;
        text-decoration: none;
        color: inherit;
    }
    article a, aside a {
        text-decoration: underline;
    }
    article a img {
        border: .5em solid transparent;
        transition: border 1s;
        box-sizing: border-box;
    }
    article a img:hover {
        border: .5em solid #9b59b6;
    }
    article>h2 {
        text-align: center;
    }
    article:nth-child(odd) {
        background: #f1c40f;
    }
    article summary {
        cursor: pointer;
    }
    table, tr, th, td {
        border-collapse: collapse;
        border: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    tr:nth-child(odd) {
        background: #f1c40f;
    }
    tr:nth-child(even) {
        background: #ecf0f1;
    }
    th, td {
        padding: .5em;
        text-align: center;
    }
    aside {
        text-align: center;
        background-color: #f1c40f;
        margin: 0;
    }
    aside ul {
        padding: 0;
        margin: 0;
        display: inline-block;
    }
    aside img {
        width: 100%
    }
    .row {
        clear: both;
        width: 100%;
    }
    .col1 {
        width: 100%;
        padding: 1em;
        box-sizing: border-box;
    }
    .col2 {
        float: left;
        width: 50%;
        padding: 1em;
        box-sizing: border-box;
    }
    .col2-3 {
        float: left;
        width: 66.6666%;
        padding: 1em;
        box-sizing: border-box;
    }
    .col3 {
        float: left;
        width: 33.3333%;
        padding: 1em;
        box-sizing: border-box;
    }
    .button, button:visited {
        background: #9b59b6;
        width: 50%;
        display: block;
        box-sizing: border-box;
        color: #ecf0f1;
        padding: .8em;
        transition: background 1s, color 1s, width 1s;
    }
    .button:hover {
        background: #f1c40f;
        color: #9b59b6;
        width: 100%;
        text-decoration: none;
    }
    img[src="img/pin.svg"] {
        max-height: 250px;
    }
    footer {
        padding-top: 2em;
        text-align: center;
        background-color: #9b59b6;
    }
    footer h2 {
        color: #f1c40f;
    }
    footer img[src="img/logo.svg"] {
        max-width: 150px;
    }
    footer nav ul {
        margin: 0;
        padding: 0;
    }
    footer nav li {
        margin: .3em 0;
    }
    footer a, footer a:visited {
        text-decoration: none;
        color: #f1c40f;
    }
    footer .col3:last-child {
        padding: 4em;
    }
    footer p {
        line-height: 1;
    }
    footer small {
        font-size: small;
    }
    footer .row:last-child {
        font-size: .8em;
        background-color: #222;
        color: #ecf0f1;
        padding: 0;
    }
    footer p:last-child {
        margin: 0;
    }
}


/* animation keyframe */

@keyframes bounce {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    50% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}


/*media query */

@media only screen and (max-width: 768px) {
    header nav ul {
        display: block;
    }
    header nav li {
        display: block;
        margin-bottom: .2em;
    }
    header nav a, header nav a:visited {
        display: block;
        background-color: #9b59b6;
        color: #ecf0f1;
        padding: .5em;
    }
    section, article, aside {
        padding: 1em;
    }
    article {
        padding-bottom: 0;
    }
    .col1, .col2, .col2-3, .col3 {
        float: none;
        width: 100%;
        padding: 0;
        margin-bottom: 1em;
    }
    .button {
        margin-bottom: 1em;
    }
    footer {
        padding-top: 1em;
        padding-bottom: 0;
    }
    footer .col3:last-child {
        padding: 0;
    }
}


/*print stylesheet*/

@media print {
    header, nav, footer, img, video, a {
        display: none;
    }
    table, tr, th, td {
        border: 1px solid black;
    }
}
